.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color:  #ADD8E6;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-logo{
    width: 150px;
    font-style: italic;
    margin: 0 20px;
    margin-top: 0px;
}